#root {
  padding: 10px;
}
.form-conatainer {
  width: 90%;
  border: 1px solid green;
  padding: 20px;
  margin: auto;
}
.col-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todos-remaing-list,
.todos-done-list {
  border: 1px solid green;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}
.list-heading {
  text-align: center;
}
.my-icon {
  font-size: 24px;
}
#check-icon,
#cross-icon,
#edit-icon {
  background-color: white;
  border: none;
}
button {
  display: inline;
}
